body {
  background-color:#192168;
  font-family:Roboto, sans-serif;
}

.col.main {
  margin-top:70px;
  padding:0;
}

h2 {
  margin:0;
}

button {
  display:block;
  color:gray;
  border:5px solid #00ff0a;
  background-color:#8b9fb4;
}

button.my-btn {
  width:100px;
  height:100px;
  margin:3px;
  text-align:center;
}

.btn-row {
  width:318px;
  height:106px;
  margin:auto;
}

@media screen and (max-width:360px) {
  input.my-btns {
    width:100%;
  }
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
  color:#d20606;
  background-color:#93a0ad;
  border-color:#33f913;
}

.btn {
  display:inline-block;
  font-weight:400;
  text-align:center;
  white-space:nowrap;
  vertical-align:middle;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  border:1px solid transparent;
  padding:.375rem .75rem;
  font-size:1rem;
  line-height:1.5;
  border-radius:.25rem;
  transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  background-color:rgb(120,119,123);
  border-color:rgb(71,255,71);
}

